<h2>제목: {{object.title}}</h2>
<video controls width="250">
    <source src="/media/{{object.video}}" type="video/mp4" >
</video>
{% if user.is_authenticated %}
<form action="{% url 'comment' object.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">댓글 달기</button>
</form>
<a href="{% url 'tube_update' object.id %}">게시물 수정</a>
<form action="{% url 'tube_delete' object.id %}" method="post">
    {% csrf_token %}
    <button type="submit">게시물 삭제</button>
</form>
{% endif %}
<ul>댓글
    {% for comment in object.comments.all %}
    <li>{{ comment.message }}</li>
    {% endfor %}
</ul>
